.hero-container {
    border-radius: 10px;
    width: 100%;
    height: 70vh;
    margin-top: 5vh;
    background: url('../assets/header_img.png') no-repeat center/cover;
}

.hero-container {
    position: relative;
}

.hero-item {
    position: absolute;
    bottom: 25px;
    flex-direction: column;
    gap: 5px;
    display: flex;
    left: 10%;
    animation: fadeIn 2s ease-in forwards;

}
.hero-container h1 {
    max-width: 300px;
}

.hero-container p {
    max-width: 500px;
}
.hero-container button {
    width: 200px;
    border: none;
    border-radius: 10px;
    background:linear-gradient(to right , tomato,red
    );
    color: white;
    transition: .3s;
}
.hero-container button:hover {
    transform: scale(1.07);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* responsive for phone */

@media (max-width: 475px) {
    .hero-container {
        width: 460px;
        height: 40vh;
        margin-top: 20px;
        position: relative;
        margin-left: 10px;
    }
    .hero-item {
        position: absolute;
        bottom: 50px;
    }
    .hero-container h1 {
        font-size: 20px;
        max-width: 200px;
    }
    .hero-container p {
        font-size: 10px;
        max-width: 250px;
    }
    .hero-container button {
        width: 100px;
    }

}